## Welcome to RandomCracy

In [18]:
data_science_students = [
    "Claudio Bahamonde",
    "Felipe Abarzúa",
    "Diego Rodriguez",
    "Javier Pizarro",
    "Smilling Battaglini",
    "Pamela Labbé",
    "Marilina Fuentes",
    "Jaime Castillo",
    "Rodrigo Castillo",
    "Ignacia Arenas",
    "Luis reyes",
    "Felipe Cabello",
    "Polette Pino",
    "Karen Lobos",
    "Diego Ávila",
    "Constanza Guzman",
    "Nicole Alejandra Araya",
    "Carlos Andrés Abarca",
    "Marco Antonio Ramos",
    "Claudia Araya",
    "Daniela Hernández",
    "Sergio Ananias",
    "Alexis Bacian",
    "Cristian Alvarez",
    "Nubia Ascencio",
    "Veronica Marín",
    "Liliana Romina Garmendia",
    "Rocio Macari",
    "Loreto Llambias",
    "Braulio Valdés",
]

In [3]:
import random

In [39]:
student = random.choice(data_science_students)
print(f"El estudiante de Data Science elegido es: {student}")

El estudiante de Data Science elegido es: Marco Antonio Ramos

In [12]:
# variable = 
print(data_science_students)

['Claudio Bahamonde', 'Felipe Abarzúa', 'Diego Rodriguez', 'Javier Pizarro', 'Smilling Battaglini', 'Pamela Labbé', 'Marilina Fuentes', 'Jaime Castillo', 'Rodrigo Castillo', 'Ignacia Arenas', 'Luis reyes', 'Felipe Cabello', 'Polette Pino', 'Karen Lobos', 'Diego Ávila', 'Constanza Guzman', 'Nicole Alejandra Araya', 'Carlos Andrés Abarca', 'Marco Antonio Ramos', 'Claudia Araya', 'Daniela Hernández', 'Sergio Ananias', 'Alexis Bacian', 'Cristian Alvarez', 'Nubia Ascencio', 'Veronica Marín', 'Liliana Romina Garmendia', 'Rocio Macari', 'Loreto Llambias', 'Braulio Valdés']

In [30]:
G = 9
type(G)

int

In [15]:
mi_varible = 10

In [27]:
valor_booleano = 'True'
type(valor_booleano)

str

In [31]:
cadena = 'hola'
print(cadena)

hola

In [38]:
# tupla y lista
variable_lista = ['hola', 2, False, 4, 5.4]
variable_tupla = ('hola', False, 4, 5.4)

('hola', False, 4, 5.4)

In [41]:
x = 10
print(x)
x = 20
print(x)

10
20

In [43]:
variable_tupla = ('hola', False, 4, 5.4)
print(variable_tupla)
variable_tupla[0] = 'adios'

('hola', False, 4, 5.4)

TypeError: 'tuple' object does not support item assignment

In [46]:
variable_lista = ['hola', False, 4, 5.4]
print(variable_lista)

variable_lista[0] = True
print(variable_lista)

['hola', False, 4, 5.4]
[True, False, 4, 5.4]

In [47]:
# ejemplo de dicccionario
diccionario = {
    'nombre': 'Felipe',
    'apellido': 'Abarzúa',
    'edad': 30,
    'hobbies': ['programar', 'jugar', 'correr']
}

In [49]:
diccionario['edad']

30

In [50]:
student = random.choice(data_science_students)
print(f"El estudiante de Data Science elegido es: {student}")

El estudiante de Data Science elegido es: Smilling Battaglini

In [53]:
7//3

2

In [57]:
3 >= 3

True

In [59]:
x = 10
print(x)
x = x + 1
print(x)
x += 1
print(x)

10
11
12

In [61]:
a = 5
a = a & 3
print(a)

1

In [65]:
teemperatura = 20
usar_polera = teemperatura > 30

if not usar_polera:
    print('No usar polera')

True

In [82]:
student = random.choice(data_science_students)
print(f"El estudiante de Data Science elegido es: {student}")

El estudiante de Data Science elegido es: Diego Rodriguez

In [79]:
a = 10.2356
b = f"numero: {a + 4:.2f}"

print(b)

numero: 14.24

In [83]:
x = 10
print(type(x))

y = 10.0
print(type(y))

x is y

<class 'int'>
<class 'float'>

False

In [86]:
True is True

True

In [87]:
a = 10
b = 2.4
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [88]:
print(type(a + b))

<class 'float'>

In [90]:
a = 10
print(type(a))
a = float(a)
print(type(a))

<class 'int'>
<class 'float'>

In [110]:
a = 'hola'
b = 'ha'
a + b

'holaha'

In [109]:
student = random.choice(data_science_students)
print(f"El estudiante de Data Science elegido es: {student}")

El estudiante de Data Science elegido es: Rodrigo Castillo

In [111]:
mi_lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
type(mi_lista)

list

In [112]:
a = 'hola'
type(a)

str

In [119]:
bool("")

False

In [120]:
n1 = int(input('Ingrese un numero: '))
n2 = int(input('Ingrese otro numero: '))

In [121]:
n1, n2

(34, 12)

In [127]:
# verificar cual de los numeros ingresados es mayor

if n1 > n2:

    print(f'El numero {n1} es mayor que {n2}')

elif n1 < n2:

    print(f'El numero {n2} es mayor que {n1}')

else:
    
    print(f'Los numeros {n1} y {n2} son iguales')

El numero 0 es mayor que -4

In [129]:
if n1 > n2:

    print(f'El numero {n1} es mayor que {n2}')

else:

    if n1 < n2:

        print(f'El numero {n2} es mayor que {n1}')

    else:
    
        print(f'Los numeros {n1} y {n2} son iguales')

El numero 0 es mayor que -4

El estudiante de Data Science elegido es: Diego Rodriguez

In [125]:
n1 = int(input('Ingrese un numero: '))
n2 = int(input('Ingrese otro numero: '))
n3 = int(input('Ingrese otro numero: '))

In [130]:
if n1 > n2 and n1 > n3:
    print(f'El numero {n1} es el mayor')

In [132]:
i = 0

while i < 10:

    print( i<10 )

    print(i)

    i += 1

True
0
True
1
True
2
True
3
True
4
True
5
True
6
True
7
True
8
True
9

In [143]:
for i in range(2, 20, 4):

    print(i)

2
6
10
14
18

In [145]:
# crear una funcion que convierta pesos a dolares

def convertir_pesos_a_dolares(pesos, tasa_cambio):

    dolares = pesos / tasa_cambio

    return dolares

In [150]:
student = random.choice(data_science_students)
print(f"El estudiante de Data Science elegido es: {student}")

El estudiante de Data Science elegido es: Marco Antonio Ramos

In [149]:
salario_polett_usd = convertir_pesos_a_dolares(pesos=2_000_000, tasa_cambio=795)

print(f"El salario de Polette en dolares es: {salario_polett_usd:.2f}")

El salario de Polette en dolares es: 2515.72

In [151]:
salario_diputado_chile_usd = convertir_pesos_a_dolares(pesos=7_000_000, tasa_cambio=795)

print(f"El salario de un diputado en dolares es: {salario_diputado_chile_usd:.2f}")

El salario de un diputado en dolares es: 8805.03

In [153]:
salario_minimo = convertir_pesos_a_dolares(pesos=450_000, tasa_cambio=795)

print(f"El salario minimo en dolares es: {salario_minimo:.2f}")

El salario minimo en dolares es: 566.04

In [154]:
len(data_science_students)

30

In [156]:
from random import choice

In [180]:
student = choice(data_science_students)
print(f"El estudiante de Data Science elegido es: {student}")

El estudiante de Data Science elegido es: Smilling Battaglini

In [160]:
import mis_funciones

In [161]:
texto = mis_funciones.convertir_mayusculas('hola mundo')
print(texto)

HOLA MUNDO

In [181]:
# crear una funcion lambda que sume dos numeros

sumar = lambda x, y, z: x + y + z

sumar(1, 2, 3)

6

In [167]:
from functools import reduce

reduce?

Docstring:
reduce(function, iterable[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence
or iterable, from left to right, so as to reduce the iterable to a single
value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the iterable in the calculation, and serves as a default when the
iterable is empty.
Type:      builtin_function_or_method

In [179]:
l = [3, 2, 3, 8, 2, 94, 12]
c = ''.join(map(str, l))
print(c)
c = int(c)
c

323829412

323829412

In [177]:
def convertir_lista_a_numero(lista):
    return int(''.join(map(str, lista)))

In [188]:
a = 2_000_000
print(a)

2000000